body{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    font-family: 'Anek Tamil', sans-serif;
}
h2{
    text-align: center;
    font-family: 'Anek Tamil', sans-serif;
    font-family: 'Roboto Slab', serif;
    padding: 30px;
}
div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
svg{
    padding-top: 30px;
}
.layer1{
    background-image: url('./l1.svg');
}
.spacer{
    aspect-ratio: 900/300;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
*{
    overflow-x: hidden;
}
ol{
    font-family: 'roboto';
}